[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
mypy = "*"
check-manifest = "*"
importlib-metadata = "*"

[packages]
lookups = {editable = true,path = "."}

[scripts]
style = 'flake8'
typing = 'mypy lookups'
tests = 'py.test --cov=lookups --cov-report=term-missing -x tests'
build = 'python setup.py sdist bdist_wheel'
clean = 'rm -Rf build dist lookups.egg-info .pytest_cache'
atom = 'atom'
